#Rover connection settings
ROVER_HOST=0.0.0.0
ROVER_PORT=22
ROVER_USER=
ROVER_PASSWD=

#RTKlib config file
RTKLIB_CONFIG_PATH=#TKlib_config file path
RTKLIB_CONFIG_INPUT_PATH=#antenna_port
RTKLIB_CONFIG_OUTPUT_PATH=0.0.0.0:5000
RTKLIB_CONFIG_CORRECTION_CREDENTIALS=

#Server script settings
SERVER_SCRIPT_PATH=server_rtk.py
SERVER_HOST=0.0.0.0
SERVER_PORT=5000 

#InfluxDB settings
INFLUXDB_HOST=http://0.0.0.0:8181
INFLUXDB_PORT=8181
INFLUXDB_DBNAME=rtk_data
INFLUXDB_TABLE=gps_rtk 
INFLUXDB_TOKEN=

#Plot script settings
PLOT_SCRIPT_PATH=live_plotter.py
PLOT_REFRESH_RATE_MS=1000
PLOT_ZOOM_LEVEL=19